<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icezhg.athena.dao.MenuDao">
    <sql id="BaseColumns">
        id, `name`, parent_id, order_num, `path`, component, `query`, is_frame, is_cache, `type`, visible, `status`,
        perms, icon, create_by, update_by, remark, create_time, update_time
    </sql>

    <select id="findByUserId" parameterType="int" resultType="com.icezhg.athena.domain.Menu">
        SELECT <include refid="BaseColumns"/>
        FROM sys_menu
        WHERE ID IN (
            SELECT menu_id
            FROM sys_role_menu rm, sys_user_role  ur
            WHERE rm.role_id = ur.role_id AND ur.user_id = #{userId,jdbcType=INTEGER}
        )
    </select>

    <select id="listAll" resultType="com.icezhg.athena.domain.Menu">
        SELECT <include refid="BaseColumns"/> FROM sys_menu
    </select>


</mapper>
