<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icezhg.athena.dao.TaskLogDao">

    <resultMap id="BaseResultMap" type="com.icezhg.athena.domain.TaskLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="taskId" column="task_id" jdbcType="BIGINT"/>
            <result property="invokeTarget" column="invoke_target" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="exceptionInfo" column="exception_info" jdbcType="VARCHAR"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="stopTime" column="stop_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,task_id,invoke_target,
        message,status,exception_info,
        start_time,stop_time,create_time
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.icezhg.athena.domain.TaskLog" useGeneratedKeys="true">
        insert into sys_task_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="taskId != null">task_id,</if>
                <if test="invokeTarget != null">invoke_target,</if>
                <if test="message != null">message,</if>
                <if test="status != null">status,</if>
                <if test="exceptionInfo != null">exception_info,</if>
                <if test="startTime != null">start_time,</if>
                <if test="stopTime != null">stop_time,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="taskId != null">#{taskId,jdbcType=BIGINT},</if>
                <if test="invokeTarget != null">#{invokeTarget,jdbcType=VARCHAR},</if>
                <if test="message != null">#{message,jdbcType=VARCHAR},</if>
                <if test="status != null">#{status,jdbcType=CHAR},</if>
                <if test="exceptionInfo != null">#{exceptionInfo,jdbcType=VARCHAR},</if>
                <if test="startTime != null">#{startTime,jdbcType=TIMESTAMP},</if>
                <if test="stopTime != null">#{stopTime,jdbcType=TIMESTAMP},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>

    <sql id="findCondition">
        <where>
            <if test="taskId != null">
                and task_id = #{taskId}
            </if>
            <if test="beginTime != null and endTime != null">
                and create_time between #{beginTime,jdbcType=TIMESTAMP} and #{endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <select id="count" parameterType="map" resultType="_int">
        select count(*)
        from sys_task_log
        <include refid="findCondition" />
    </select>

    <select id="find" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from sys_task_log
        <include refid="findCondition" />
        ORDER BY id DESC
        LIMIT #{offset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
    </select>

</mapper>
