<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icezhg.athena.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.icezhg.athena.domain.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="CHAR" property="password"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="mobile" jdbcType="CHAR" property="mobile"/>
        <result column="deadline" jdbcType="TIMESTAMP" property="deadline"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="credentials_update_time" jdbcType="TIMESTAMP" property="credentialsUpdateTime"/>
        <result column="default_user" jdbcType="BIT" property="isDefaultUser"/>
        <result column="archived" jdbcType="BIT" property="isArchived"/>
        <result column="account_expired" jdbcType="BIT" property="isAccountExpired"/>
        <result column="account_locked" jdbcType="BIT" property="isAccountLocked"/>
        <result column="credentials_expired" jdbcType="BIT" property="isCredentialsExpired"/>
    </resultMap>

    <sql id="BaseColumns">
        id, username, password, name, email, mobile, deadline, create_time, update_time,
        last_login_time, credentials_update_time, default_user, archived,
        account_expired, account_locked, credentials_expired
    </sql>

    <insert id="insert" parameterType="com.icezhg.athena.domain.User">
        insert into t_user (id, username, password,
          name, email, mobile, deadline,
          create_time, update_time, last_login_time,
          credentials_update_time, default_user, archived,
          account_expired, account_locked, credentials_expired)
        values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=CHAR},
          #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=CHAR}, #{deadline,jdbcType=TIMESTAMP},
          #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{lastLoginTime,jdbcType=TIMESTAMP},
          #{credentialsUpdateTime,jdbcType=TIMESTAMP}, #{isDefaultUser,jdbcType=BIT}, #{isArchived,jdbcType=BIT},
          #{isAccountExpired,jdbcType=BIT}, #{isAccountLocked,jdbcType=BIT}, #{isCredentialsExpired,jdbcType=BIT})
    </insert>

    <select id="findByUsername" parameterType="string" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseColumns"/>
        FROM t_user WHERE username = #{username} AND archived = FALSE
    </select>

    <select id="findByUserId" parameterType="long" resultMap="BaseResultMap">
        SELECT
          <include refid="BaseColumns"/>
        FROM t_user WHERE id = #{id} AND archived = FALSE
    </select>

</mapper>
